<launch>
    <arg name="path_update_delta_cost" default="3000.0" />
    <arg name="path_request_period_sec" default="5.0" />
    
    <node name="drones_coverage" pkg="drone_coverage" type="drones_coverage.py" output="screen">
        <param name="path_update_delta_cost" type="double" value="$(arg path_update_delta_cost)" />
        <param name="path_request_period_sec" type="double" value ="$(arg path_request_period_sec)" />
    </node>
</launch>