<launch>
    <arg name="drone_name" />
    <arg name="drones_names" />
    <arg name="halting_threshold" default="3.0"/>
    <arg name="restart_threshold" default="3.1"/>
    
    <group ns="/collision_avoidance/$(arg drone_name)">
        <node name="collision_avoidance" pkg="drone_coverage" type="drone_collision_avoidance.py" output="screen">
            <param name="drone_name" type="string" value="$(arg drone_name)" />
            <param name="drones_names" type="string" value="$(arg drones_names)" />
            <param name="halting_threshold" type="double" value="$(arg halting_threshold)" />
            <param name="restart_threshold" type="double" value="$(arg restart_threshold)" />
        </node>
    </group>
</launch>