<launch>
    <!-- This launch file requires the two topics names -->
    <arg name="prev_name" default=""/>
    <arg name="self_name" />
    <arg name="next_name" default=""/>

    <group ns="relay_node">
        <node name="$(arg self_name)" pkg="drone_coverage" type="relay_node.py" output="screen">
            <remap from="/relay_chain/prev/backward" to="/relay_chain/$(arg prev_name)/backward"/>
            <remap from="/relay_chain/self/forward" to="/relay_chain/$(arg self_name)/forward"/>
            <remap from="/relay_chain/self/backward" to="/relay_chain/$(arg self_name)/backward"/>
            <remap from="/relay_chain/next/forward" to="/relay_chain/$(arg next_name)/forward"/>

            <param name="max_node_distance" type="double" value="20.0" />
            <param name="prev_name" type="string" value="$(arg prev_name)"/>
            <param name="self_name" type="string" value="$(arg self_name)"/>
            <param name="next_name" type="string" value="$(arg next_name)"/>
        </node>
    </group>
</launch>