<launch>
    <arg name="cost_delta" default="-0.1"/>
    <arg name="cost_update_period_sec" default="2"/>

    <node name="graph_knowledge" pkg="graph_loader" type="graph_knowledge.py" output="screen">
        <param name="cost_delta" type="double" value="$(arg cost_delta)" />
        <param name="cost_update_period_sec" type="double" value="$(arg cost_update_period_sec)" />
    </node>
</launch>