<launch>
    <arg name="dynamic_cost_delta" default="-0.1"/>
    <arg name="dynamic_cost_update_period_sec" default="2"/>
    <arg name="dynamic_cost_max" default="100" />
    <arg name="nodes_base_cost" default="10000" />

    <node name="graph_knowledge" pkg="graph_loader" type="graph_knowledge.py" output="screen">
        <param name="dynamic_cost_delta" type="double" value="$(arg dynamic_cost_delta)" />
        <param name="dynamic_cost_update_period_sec" type="double" value="$(arg dynamic_cost_update_period_sec)" />
        <param name="dynamic_cost_max" type="double" value="$(arg dynamic_cost_max)" />
        <param name="nodes_base_cost" type="double" value="$(arg nodes_base_cost)" />
    </node>
</launch>